* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#root{
  height:100svh;
}

.flex-container{
  display:flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

:root {
/*BRANDING-COLORS*/
--pf-color1:white;
/*BACKGORUND-COLORS*/
/*TEXT-COLORS*/
/*BORDER-RADIUS*/
/*SPACING*/
}
